<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @micropsot.content %>
</p>

<p>
  <b>User:</b>
  <%= @micropsot.user_id %>
</p>


<%= link_to 'Edit', edit_micropsot_path(@micropsot) %> |
<%= link_to 'Back', micropsots_path %>
